/* CSS Document  */
body
{
    font-family: "宋体" , Arial,Verdana, sans-serif, Helvetica;
    font-size: 12px;
    margin: 0 auto;
    background:#fff;
    color: #000;
}
dl, ul, li
{
    list-style: none;
}
a img
{
    border: 0;
}
a
{
    color: #000;
}
a:link, a:visited, a:active, a:hover
{
    text-decoration: none;
}
input
{
    vertical-align: middle;
}
body, html
{
    height: 100%;
}
