body
{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}
div#page-container
{
    margin: 0 auto;
    width: 100%;
    min-height: 640px;
}
/* 头部 */
div#page-container #header
{
    height:auto;
}
div#page-container #header .lang
{
    float: right;
    margin-right:10px;
}
div#page-container #header #navigator-list
{    
    position:relative;
    height:2em;
}
div#page-container #header #navigator-list ul
{
    margin:5px auto;
    position:absolute;
    right:10px;
}
div#page-container #header #navigator-list ul li
{
    float:left;
    width:50px;
    cursor:pointer;
    margin-left:5px;
    margin-right:5px;
}
div#page-container #content-container
{
    width:100%;
}
/* 第二级导航 */
div#page-container #subnav
{
    float:left;
    width:260px;
    height:auto;
    margin:10px;
    position:static;
}

/* 主体内容 */
div#page-container #main-body
{
    float:left;
    width: 100%;
    margin-top:10px;
    min-width:640px;
    border: 1px solid #b4b4b4;
    background: #fff;
}

/* 常用CSS */
.cb
{
    clear: both;
}
.cr
{
    clear: right;
}
.cl
{
    clear: left;
}
.fl
{
    float:left;
}
.fr
{
    float:right;
}