/* html元素 */
body
{
    font-size:1em;
}
a:hover
{
    color:#77a6ff;
    text-decoration:underline;
}

div#page-container
{
    margin: 0 auto;
    width: 100%;
    min-height: 640px;
    background-color:#ececec;
}
/* 头部 */
div#page-container #header
{
    border-bottom:1px #b2b2ff;
    background:#fff url(images/mainnav.png) 0px 11px repeat-x ;
}
div#page-container #header .lang
{
    float: right;
}
div#page-container #header #navigator-list
{
}
div#page-container #header #navigator-list ul
{
   background:#fefffe;
}
/* 第二级导航 */
div#page-container #subnav
{
    border: 1px solid #b4b4ff;
    background: #fff;
    font-size:0.8em;
}

div#page-container #subnav h3
{
    margin-top:0px;
}
div#page-container #subnav ul li a
{
    cursor:pointer;
}
/* 主体内容 */
div#page-container #main-body
{
}


/* 用于JS动态添加移除的样式 */
.navclick
{
    border:1px solid #ccc;
    background:#fff url(images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x;
    color:#eee;
}

.loading
{
    background-image:url(images/loading2.jpg) center center;
    height:10px;
    width:10px;
}