<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
    <!-- autofac的配置 -->
    <configSections>
        <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
    </configSections>
    
    <!-- Web中一定要添加对要注入的类的所在DLL -->
    <autofac>
        <components>
            <!-- type="MyType,MyAssembly" service="MyType,MyAssembly" -->

            <!-- <component type="ZYW.DBContexts.TestDBContext,ZYW.DBContexts" service="ZYW.Infrastructure.IUnitOfWork,ZYW.Infrastructure" />
            -->
            <component type="ZYW.DBContexts.SystemDBContext,ZYW.DBContexts" service="ZYW.Infrastructure.IUnitOfWork,ZYW.Infrastructure" />

            <!-- 数据仓储  -->
            <component type="ZYW.Repository.TestRepository,ZYW.Repository" service="ZYW.IRepositorys.ITestRepository,ZYW.IRepositorys" />
            <component type="ZYW.Repository.SysXCodeRepository,ZYW.Repository" service="ZYW.IRepositorys.ISysXCodeRepository,ZYW.IRepositorys" />

            <!-- 服务  -->
            <component type="ZYW.Services.TestService,ZYW.Services" service="ZYW.IServices.ITestService,ZYW.IServices" />
            <component type="ZYW.Services.SysXCodeService,ZYW.Services" service="ZYW.IServices.ISysXCodeService,ZYW.IServices" />

        </components>
    </autofac>

    <!-- 数据库链接字符串  -->
    <connectionStrings>
        <add name="MSSqlContext" connectionString="Data Source=hebidu;Initial Catalog=MVCSite;UID=sa;Pwd=1;"
        providerName="System.Data.SqlClient"/>
            <add name="TestDBContext" connectionString="Server=localhost;Uid=root;Pwd=root;Database=website;Port=3307;charset=utf8;"
        providerName="MySql.Data.MySqlClient"/>
            <add name="SystemDBContext" connectionString="Server=localhost;Uid=root;Pwd=root;Database=website;Port=3307;charset=utf8;" providerName="MySql.Data.MySqlClient" />

    </connectionStrings>
    
    <appSettings>
        <add key="ClientValidationEnabled" value="true"/>
        <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
        <add key="RouteDebugger:Enabled" value="false"/>
    </appSettings>

    <system.web>
        <!-- 自定义错误页面 -->
        <customErrors mode="RemoteOnly" defaultRedirect="~/Error/Unknown">
            <error statusCode="300" redirect="~/Error/_300" />
            <error statusCode="301" redirect="~/Error/_301" />
            <error statusCode="302" redirect="~/Error/_302" />
            <error statusCode="303" redirect="~/Error/_303" />
            <error statusCode="400" redirect="~/Error/_400" />
            <error statusCode="401" redirect="~/Error/_401" />
            <error statusCode="403" redirect="~/Error/_403" />
            <error statusCode="404" redirect="~/Error/_404" />
            <error statusCode="408" redirect="~/Error/_408" />
            <error statusCode="409" redirect="~/Error/_409" />
            <error statusCode="413" redirect="~/Error/_413" />
            <error statusCode="414" redirect="~/Error/_414" />
            <error statusCode="415" redirect="~/Error/_415" />
            <error statusCode="500" redirect="~/Error/_500" />
            <error statusCode="501" redirect="~/Error/_501" />
            <error statusCode="502" redirect="~/Error/_502" />
            <error statusCode="504" redirect="~/Error/_504" />
            <error statusCode="505" redirect="~/Error/_505" />
        </customErrors>

        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn" timeout="2880" />
        </authentication>

        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages"/>
            </namespaces>
        </pages>
        
        <!-- 国际化 -->
        <globalization uiCulture="auto"/>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
